
body {
    background: #ffdbac;
    font-family: sans-serif;
}

.index {
    background: #ffdbac;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.portfolio {
    text-align: center;
}
.headshot {
  text-align: center;
  margin-bottom: 50px;
}

.name {
    text-align: center;
    color: black;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.titlebox {
  border-style: double;
  border-radius: 5px;
  width: 900px;
  margin: auto;
}

.title {
    text-align: center;
    
}

.skillstitle {
    text-decoration-line: underline;

}

.skills {
    text-align: center;
    color: rgb(14, 12, 12);
    margin-bottom: 30px;
}

.skillslist {
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-template-rows: 400px;
    grid-auto-flow: row;
    text-align: center;
    margin-left: 50px;
}

.projectname {
    text-align: center;
}

.navbar {
    display: inline-block;
    
}

.hobbies {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h1 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 900px;
  }
  
  h1 span {
    font-size: 40px;
    margin-left: 40px;
  }
  
  .message {
    background: #e0ac69;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 200px;
    margin: auto;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 550px;
    }
    30% {
      top: 0.2rem;
      width: 550px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 550px;
    }
    62% {
      top: -4.5rem;
      width: 550px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 550px;
    }
    95% {
      top: -9rem;
      width: 550px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }  

  .jobtitle {
    text-align: center;
  }

@media (max-width: 480px) {
    .projects {
        float: left;
        display: inline;
        align-items: center;
        width: 100%;
    }
    .hobbies {
        margin-left: 0px;
        padding-left: 0px;
    }
    .message {
      max-width: 480px;
      align-items: left;
      margin-left: 0px;
    }
    h1 {
      margin-left: 0px;
      max-width: 480px;
    }
    .titlebox {
      max-width: 480px;
      
    }

    .name {
      max-width: 480px;
      overflow: inherit;
    }

}