body {
    background-color: rgb(158, 195, 207);
}

.portfolio {
    text-align: center;
}

.name {
    text-align: center;
    color: ghostwhite;
    margin-top: 50px;
    margin-bottom: 10px;
    text-decoration-line: overline underline;
}

.title {
    text-align: center;
}

.bio {
    text-align: center;
}

.skillstitle {
    text-decoration-line: underline;
}

.skills {
    text-align: center;
    color: rgb(161, 118, 118);
    margin-bottom: 30px;
}

.skillslist {
    text-align: center;
}

.projects {
    text-align: center;
    color: rgb(105, 126, 97);
    text-decoration-line: underline;
    margin-bottom: 30px;
}

.projectslist {
    text-align: center;
}